BODY {
 margin-bottom:20px;
 margin-left:0;
 margin-right:0;
}
:root {
 --ss_top:0;
 --ss_left:0;
 --ss_right:0;
 --ss_bottom:0;
 --minute_height:800px;
  
}
FORM {
 margin:0;
}
.cropper_FORM {
	position:fixed;
	top:0;
	right:0;
	z-index:20;
	height:30px;
	background-color:#ccc;
	border-radius:3px;
	border:2px solid black;
	overflow:hidden;
}
.cropper_FORM:hover  {
height:auto;
}
.cropper TD {
	text-align:right;
}
.dim_input {
 width:60px;
}

#select_bar {
 position:fixed;
 bottom:0;
 height:20px;
 border-top:2px solid blue;
 background-color:#ddd;
 display:flex;
 bottom:0;
 width:99%;
 z-index:20;
}
.sb_DIV {
	font-size:12px;
	border-top:2px solid #ccc;
 	border-left:2px solid #ccc;
	border-right:2px solid #ccc;
 	border-radius-5px;
 	margin:2px;
 	flex:1 0 0;
 	font-family:monospace;
}

.zminute_DIV { 
	display:flex; 
	margin-right:2%;
	border-top: 1px dotted #ccc;
	position:relative;
	width:calc(100% - 10px); 
	padding:3px;
} 
.zm_marker {
	font-size:20px;
	font-weight:bold;
	width:30px;

}
.za_DIV { 
	text-align: right;
    	font-weight: bold;
	padding:10px;  
 	z-index:5;
	position:relative;
	flex:1 0 0;
	min-height:var(--minute_height);
	overflow:hidden;
	margin-right:2px;
} 
.za_img { 
	z-index:2;
	position:absolute;
	left: calc( var(--ss_left)     * 1% );
	top:  calc( var(--ss_top)      * 1% );
	width:  calc( 100% - ( var(--ss_left) * 1%  ) + ( var(--ss_right) * 1% ) );
	height: calc( 100% - ( var(-ss_top) * 1%  )  + ( var(--ss_bottom) * 1% ) );
}

.za_DIV:after {
	content:attr(screen);
	position:absolute;
	top:0;
	right:0;
	color:green;
	background-color:rgba(100,255,255,1);
	border:2px solid black;
	border-radius:2px;
	z-index:15;
}

.za_DIV:hover {
 overflow:visible;
 z-index:10;
}

.za_DIV:hover .za_img {
	right: 10px;
 	top: 10px;
	border: 2px solid black;
	border-radius: 3px;
	/*position: fixed;*/
	width: 50vw;
}
.za_single {
 	background-color:#7fa;
}
.za_start {
 	background-color:#f7a;
	border-right:0 !important;
}
.za_end {
	background-color:#7af;
	border-left:0 !important;
}

.range_tools {
 display:flex;
}
.generator , .clearer {
 color:white;
 font-size:20px;
 text-align:center;
 border-radius:3px;
 width:50%;
}
.generator {
 border:2px solid pink;
 background-color:crimson; 

}
.clearer {
 border:2px solid cyan;
 background-color:navy;
}

#ranges {
 min-height:300px;
 font-family: MonoSpace;
 border:2px solid black;
 border-radius:3px;
 width:100%; 
 background-color:#ccc;
}
