BODY {
 margin-bottom:calc(var(--rs_size) + 50px);
 margin-left:0;
 margin-right:0;
 margin-top:35px;
}
:root {
 --ss_top:0;
 --ss_left:0;
 --ss_right:0;
 --ss_bottom:0;
 --minute_height:800px;
 --minute_width:1.6%;  
 --start_color:#0fa30f;
 --single_color:linear-gradient(var(--start_color), var(--end_color));;
 --end_color:#b9220a;
 --bar_width:99%;
 --rs_size:50px;
}




.zminute_DIV[zgm="2"] .za_img {
  filter: brightness(50%) sepia(1)  hue-rotate(132deg) saturate(103.2%) brightness(91.2%) opacity(33%);
  z-index:101;
}
.zminute_DIV[zgm="3"] .za_img {
  filter: brightness(50%) sepia(1)  hue-rotate(264deg) saturate(103.2%) brightness(91.2%) opacity(33%);
   z-index:102;
}



FORM {
 margin:0;
}
.cropper_FORM {
	position:fixed;
	top:0;
	right:0;
	z-index:20;
	height:30px;
	background-color:#ccc;
	border-radius:3px;
	border:2px solid black;
	overflow:hidden;
}
.cropper_FORM:hover  {
height:auto;
}
.cropper TD {
	text-align:right;
}
.dim_input {
 width:60px;
}

#select_bar {
 top:0;
 border-top:2px solid blue;
 background-color:#ddd;
 width:var(--bar_width);
 z-index:20;
 height:15px;
}

.za_top_DIV {
 display:flex;
 position:fixed;
 z-index:15;
 top:0;
 width: calc(100% - 80px);
 height:35px;
 background-color:var(--bg);
}
.za_day , .za_hour , .za_cam {
 border:2px solid grey;
 padding:5px;
 font-size:1.5em;
 text-align:right;
 
}
.za_day {
 color:black;
 width:20%;
}
.za_hour {
 color:blue;
 width:15%;
}
.za_cam {
 color:purple;
 width:15%;;
}


.sb_DIV {
	font-size:12px;
	border-top:2px solid #ccc;
 	border-left:2px solid #ccc;
	border-right:2px solid #ccc;
 	border-radius:3px;
 	width: var(--minute_width);
	left: calc( (100% - 60 * var(--minute_width)) + var(--minute) * var(--minute_width)); 
       position:absolute;
 	font-family:monospace;
	--sbh:15px;
}
.sb_DIV[stype="motion"] {
 color:blue;
 font-weight:bold;
 font-style:italic;
 outline:1px solid blue;
}

.zminute_DIV { 
	display:flex; 
	flex-wrap:wrap;
	margin-right:2%;
	border-top: 1px dotted #ccc;
	position:relative;
	width:calc(100% - 10px); 
	padding:3px;
	border-radius:3px;
} 
.zm_marker {
	font-size:20px;
	font-weight:bold;
	width:100%;
	padding-left:20px;
	padding-bottom:5px;
	display:flex;
}
.za_img[stype="motion"]
{
  outline:3px solid blue;
  border-radius:3px;
}

.za_DIV { 
	text-align: right;
    	font-weight: bold;
	padding-top:10px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:0;  
 	z-index:5;
	position:relative;
	flex:1 0 0;
	min-height:var(--minute_height);
	overflow:hidden;
	margin-right:2px;
} 
.za_img { 
	z-index:2;
	position:absolute;
	left: calc( var(--ss_left)     * 1% );
	top:  calc( var(--ss_top)      * 1% );
	max-width:  calc( 100% - ( var(--ss_left) * 1%  ) + ( var(--ss_right) * 1% ) );
	max-height: calc( 100% - ( var(--ss_top) * 1%  )  + ( var(--ss_bottom) * 1% ) );
}

.za_DIV:after {
	content:attr(screen);
	position:absolute;
	top:0;
	right:0;
	color:green;
	background-color:rgba(100,255,255,1);
	border:2px solid black;
	border-radius:2px;
	z-index:15;
}

.za_DIV:hover {
 overflow:visible;
 z-index:10;
}

.za_DIV:hover .za_img {
	right: 10px;
 	top: 10px;
	border: 2px solid black;
	border-radius: 3px;
	width: 50vw;
	max-width:initial;
	max-height:initial;
}

.za_DIV:last-child:hover {
	left:-20vw !important;
}

.za_start {
 	background-color:var(--start_color);
	border-right:0 !important;
}
.za_end {
	background-color:var(--end_color);
	border-left:0 !important;
}
.za_start.za_end {
  background:var(--single_color);
}

.za_continue {
	background-color:orange;
}

.za_start_weak {
 	border-top:2px solid green;
	background: linear-gradient(-45deg, var(--start_color) 30%, var(--start_color) 10%, var(--bg) 10%) !important;
}
.za_continue_weak  {
        background: linear-gradient(-45deg, orange 30%, orange 10%, var(--bg) 10%) !important;
}

.za_end_weak {
        background: linear-gradient(-45deg, var(--end_color) 30%, var(--end_color) 10%, var(--bg) 10%) !important;
	border-bottom:2px solid blue;
}


.tools , .range_tools {
 display:flex;
 border:1px solid #ccc;
 border-radius:3px;
 --bc:white;
 --bgc:#333;
}
.range_tools > DIV , .tools > DIV {
 color:white;
 font-weight:bold;
 font-size:20px;
 text-align:center;
 border-radius:3px;
 border:2px solid var(--bc);
 background-color:var(--bgc);
 flex:1 1 20%;
}
.generator {
 --bc:green;
 --bgc:#47af1d; 

}
.clearer {
 --bc:red;
 --bgc:crimson;
}
.clear1 {
 --bc: #0016ff;
 --bgc: #ba4fff;
}

#ranges {
 padding-top:15px;
 font-family: MonoSpace;
 border:2px solid black;
 border-radius:3px;
 width:calc(100% - 4px);
 position:relative;; 
 background-color:#ccc;
 position:fixed;
 bottom:0;
 max-height:45px;
 z-index:200;
 transition: 1.0s;
}
#ranges:hover {
 height:auto;
 max-height:inherit;
}

.range_label {
  z-index:200;
  flex:1 0 0;
}


.output_row {
 height:10px;
 width:var(--bar_width);
}

#ranges:hover .output_row {
 padding:2px;
 height:45px;
}


.cam_1 {
	--bg: rgba(255, 140, 84, 0.75);
	--cam:1;
}
.cam_2 {
	--bg:rgba(255, 255, 84, 0.75);
	--cam:2;
}
.cam_3 {
	--bg: rgba(160, 255, 84, 0.75);
	--cam:3;
}
.cam_4 {
	--bg: rgba(160, 162, 226, 0.75);
	--cam:4;
}
.cam_5 {
	--bg: rgba(0,200,255, 0.75);
	--cam:5;
}
.cam_6 {
	--bg: rgba(255,100,190,0.75);
	--cam:6;
}
.cam_7 {
	--bg: rgba(145,105,75,0.75);
	--cam:7;
}
.cam_8 {
	--bg: rgba(106,105,75,0.75);
	--cam:8;
}
.cam_9 {
	--bg: rgba(106,105,252,0.75);
	--cam:9;
}
.output_hour {
     	position: absolute;
    	left: 0;
    	width: calc(100% - 60 * var(--minute_width));
   	 background-color: var(--bg);
	max-height:10px;
}

#ranges:hover .output_row .output_hour , #ranges:hover .output_row .html_range
{
 max-height:initial;
 min-height:45px;
}
#ranges:hover .output_row .html_range {
 padding-top:1em;
}

.html_range {
        max-height:10px;
	padding-top:5px;
	 border:1px solid black;
 	border-radius:3px;
	background-color:var(--bg);
	position: absolute;
    	left: calc( (100% - 60 * var(--minute_width))  + var(--start) * var(--minute_width));
    	width: calc( var(--rangewidth) * var(--minute_width));
}

#ranges:hover .output_row .html_range DIV {
  font-size:100%;
  display:block;
}
.range_start , .range_end {
 display:none;
}

.range_start {
	position:absolute;
	top:0;
 	left:0;
	color:var(--start_color);
}
.range_end {
	position:absolute;
	right:0;
	top:0;
	color:var(--end_color);
}


.sb_bonus_DIV:before {
  content: attr(desc);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}


.mm_DIV {
 width:40px;
}
.other_cams {
 position:relative;
 width:60%;
}
.other_cams DIV {
 width:20%;
 position:absolute;
 left:calc( ( var(--cam) - 1 ) * 20% );
 border:1px dotted gray;
}
#run_string {
 font-family:monospace;
 width:100%;
 overflow-x:scroll;
 min-height:var(--rs_size);
}
#run_string[state="copied"] {
 background-color:lightblue;
}
#run_string[state="sent"] {
 background-color:lightgreen;
}

.za_png {
 position:absolute;
 display:none;
 width:35px;
 height:15px;
 background-color:white;
 border:1px solid black;
 border-radius:3px;
 overflow:hidden;
}

.za_DIV:hover .za_png {
  top:0;
  z-index:10000;
  left:0;
 display:block;
}

.MIN_jumper {
 display:inline-block;
}

.sb_DIV::after , .sb_DIV::before ,  .MIN_jumper::before {
    position: absolute;
    content: " ";
    width: 33%;
    background-color: rgba(90,169,45,0.8);
    bottom:var(--sbh);
    height:clamp(0px,var(--pheight),var(--sbh));
}

.sb_DIV::after {
 left:0;
 --pheight:calc(var(--dsize_001) / var(--maxd) * 100% );

}
.MIN_jumper::before {
  left:33%;
 --pheight:calc(var(--dsize_002) / var(--maxd) * 100% );

}

.sb_DIV::before {
    --pheight: calc(var(--dsize_003) / var(--maxd) * 100% );
    right: 0;
}
